/* style.css */

body {
    background: linear-gradient(to right, rgba(255, 255, 255, 0.7), rgba(82, 82, 92, 0.7));
}

#header {
    position: fixed; /* Фіксована позиція */
    top: 0; /* Встановлення верхньої межі */
    left: 0; /* Встановлення лівої межі */
    width: 100%; /* Розтягнути заголовок на всю ширину сторінки */
    height: 100px; /* Встановлення висоти заголовка */
    text-align: center;
    background-color: #464444; /* Додавання чорного колору фону */
    padding: 0px 0; /* Додатковий внутрішній відступ для тексту від меж заголовка */
    margin: 0 auto; /* Центрування заголовка на сторінці */
}

#header img {
    width: 300px; /* Нова ширина */
    height: auto; /* Автоматична висота, щоб зберегти пропорції */
    margin-bottom: 10px; /* Додатковий відступ знизу, щоб відокремити текст від зображення */
    border-radius: 50%; /* Задаємо радіус для створення кружечка */
    overflow: hidden; /* Обрізаємо контент за межами контейнера */
}

#header p {
    font-family: Arial, sans-serif; /* Шрифт */
    font-size: 18px; /* Розмір шрифту */
    color: #333; /* Колір тексту */
    font-weight: bold; /* Жирний шрифт */


}

.menu-button {
    position: fixed; /* Фіксована позиція */
    top: 110px; /* Змінено відступ зверху, щоб кнопка була нижче */
    left: 20px; /* Відступ зліва */
    padding: 15px 30px; /* Додатковий відступ для кнопки */
    font-size: 24px; /* Збільшуємо розмір шрифту кнопки */
    background-color: #fff; /* Колір фону кнопки */
    border: 2px solid #333; /* Товщина та колір межі кнопки */
    border-radius: 10px; /* Радіус кутів кнопки */
    cursor: pointer; /* Змінюємо вигляд курсора при наведенні на кнопку */
}

.menu-button:hover {
    background-color: #f0f0f0; /* Зміна колір при наведенні на кнопку */
}

.game-button {
    font-size: 24px; /* Збільшуємо розмір тексту кнопки */
    padding: 15px 30px; /* Додаємо внутрішній відступ кнопки */
    border: none; /* Видаляємо рамку кнопки */
    background-color: #000000; /* Зелений колір фону кнопки */
    color: white; /* Колір тексту кнопки */
    border-radius: 10px; /* Задаємо радіуси кутів кнопки */
    cursor: pointer; /* Змінюємо курсор при наведенні на кнопку */
    transition: background-color 0.3s ease; /* Анімація зміни кольору фону */
    position: fixed; /* Фіксована позиція */
    top: 190px; /* Змінено відступ зверху, щоб кнопка була нижче */
    left: 20px; /* Відступ зліва */
}

.game-button:hover {
    background-color: #292929; /* Зелений колір фону кнопки при наведенні */
}
/* style.css */



.daria-button {
    /* Ваші стилі для кнопки "Ніцкевич Даря" тут */
    background-color: #3c1553; /* Зелений колір фону */
    color: white; /* Білий колір тексту */
    border: none; /* Видалення рамки */
    padding: 10px 20px; /* Внутрішні відступи */
    text-align: center; /* Вирівнювання тексту по центру */
    text-decoration: none; /* Видалення підкреслення */
    display: inline-block; /* Показати як блочний елемент */
    font-size: 16px; /* Розмір шрифту */
    margin: 4px 2px; /* Зовнішні відступи */
    cursor: pointer; /* Зміна курсору при наведенні */
    border-radius: 8px; /* Закруглені кути */
    position: fixed; /* Фіксована позиція */
    top: 250px; /* Сума значення top для .game-button та 1 см відступу знизу */
    left: 20px; /* Відступ зліва */
}

.daria-button:hover {
    background-color: #5a176d; /* Зміна колір при наведенні на кнопку */
} 