/* style.css */

body {
    background: linear-gradient(to right, rgba(247, 195, 247, 0.7), rgba(81, 81, 243, 0.7));
}

#header {
    text-align: center;
}

#header img {
    width: 300px; /* Нова ширина */
    height: auto; /* Автоматична висота, щоб зберегти пропорції */
    margin-bottom: 10px; /* Додатковий відступ знизу, щоб відокремити текст від зображення */
    border-radius: 50%; /* Задаємо радіус для створення кружечка */
    overflow: hidden; /* Обрізаємо контент за межами контейнера */
}

#header p {
    font-family: Arial, sans-serif; /* Шрифт */
    font-size: 18px; /* Розмір шрифту */
    color: #333; /* Колір тексту */
    font-weight: bold; /* Жирний шрифт */


}
.game-button {
    font-size: 24px; /* Збільшуємо розмір тексту кнопки */
    padding: 15px 30px; /* Додаємо внутрішній відступ кнопки */
    border: none; /* Видаляємо рамку кнопки */
    background-color: #000000; /* Зелений колір фону кнопки */
    color: white; /* Колір тексту кнопки */
    border-radius: 10px; /* Задаємо радіуси кутів кнопки */
    cursor: pointer; /* Змінюємо курсор при наведенні на кнопку */
    transition: background-color 0.3s ease; /* Анімація зміни кольору фону */
}

.game-button:hover {
    background-color: #3a0166; /* Зелений колір фону кнопки при наведенні */
}
/* style.css */

.menu-button {
    position: fixed; /* Фіксована позиція */
    top: 20px; /* Відступ зверху */
    left: 20px; /* Відступ зліва */
    padding: 15px 30px; /* Додатковий відступ для кнопки */
    font-size: 24px; /* Збільшуємо розмір шрифту кнопки */
    background-color: #fff; /* Колір фону кнопки */
    border: 2px solid #333; /* Товщина та колір межі кнопки */
    border-radius: 10px; /* Радіус кутів кнопки */
    cursor: pointer; /* Змінюємо вигляд курсора при наведенні на кнопку */
}

.menu-button:hover {
    background-color: #f0f0f0; /* Зміна колір при наведенні на кнопку */
}

